/* Soluzione qui */
@media screen and (min-width: 768px){
    #topbar{display: block;}
    main{
        padding: 40px;
    }

  .recipe-origin{
        visibility: visible;
        display: inline;
    } 
    h2{
        font-size: 30px;
        display: inline;

    }
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-direction: column;
        max-height: 100px;
        
    }
    .btn{
        padding: 10px 55px;
    }
    .ads{
        visibility: visible;
        display: inline;
        
    }
    .presentation img{
        float: left;
        margin-right: 8px;
    }
}