/* Soluzione qui */

/* phone */

@media screen and (max-width: 576px){
        .presentation img{
        float: left;
        margin-right: 8px;
    }
    .btn{
        font-size: 20px;
    }
}


/* Tablet */
@media screen and (min-width: 768px){
    #topbar{display: block;}
    main{
        padding: 40px;
    }

  .recipe-origin{
        visibility: visible;
        display: inline;
    } 
    h2{
        font-size: 30px;
        display: inline;

    }
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-direction: column;
        max-height: 100px;
        margin-bottom: 40px;
        
    }
    .btn{
        padding: 10px 55px;
    }
    .ads{
        visibility: visible;
        display: inline;
        
    }
    .presentation img{
        float: left;
        margin-right: 8px;
    }
}

/* Desktop */
@media screen and (min-width: 992px){

    h2{
        font-size: 40px;
    }
    ul{
        display: block;
    
    }
    
    .recipe-card{
        display: flex;
            .recipe-video{
                width: 100%;
            }
        
    }

    .btn{
        display: inline-flex;
        padding: 10px 30px;
    }
    .social-networks .label{
        display: flex;
        margin-left: 3px;
    }
    footer{
        max-height: 10px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        ul{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        
        }
    }
}